#{set 'moreScripts'}
    <script src="@{'/public/javascripts/galleriffic/jquery.galleriffic.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/galleriffic/jquery.galleriffic.page.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/galleriffic/jquery.history.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/galleriffic/jquery.opacityrollover.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}


<!-- Start Advanced Gallery Html Containers -->				
<div class="navigation-container">
	<div id="thumbs" class="navigation">
		<a class="pageLink prev" style="visibility: hidden;" href="#" title="&{'gallery.page.previous'}"></a>
		<ul class="thumbs noscript">
			<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_001.jpg" title="&{'gallery.img001.title'}">
					<img src="/public/images/location/img_001s.jpg" alt="&{'gallery.img001.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img001.title'}</div>
					<div class="image-desc">&{'gallery.img001.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_001b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>

			<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_002.jpg" title="&{'gallery.img002.title'}">
					<img src="/public/images/location/img_002s.jpg" alt="&{'gallery.img002.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img002.title'}</div>
					<div class="image-desc">&{'gallery.img002.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_002b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_003.jpg" title="&{'gallery.img003.title'}">
					<img src="/public/images/location/img_003s.jpg" alt="&{'gallery.img003.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img003.title'}</div>
					<div class="image-desc">&{'gallery.img003.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_003b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>
			
				<li>
				<a class="thumb" name="leaf" href="/public/images/location/img_004.jpg" title="&{'gallery.img004.title'}">
					<img src="/public/images/location/img_004s.jpg" alt="&{'gallery.img004.title'}" />
				</a>

				<div class="caption">
					<div class="image-title">&{'gallery.img004.title'}</div>
					<div class="image-desc">&{'gallery.img004.description'}</div>
					<div class="download">
						<a href="/public/images/location/img_004b.jpg">&{'gallery.image.download'}</a>
					</div>
				</div>
			</li>

			
		</ul>
		<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
	</div>
</div>

				<div class="content">
					<div class="slideshow-container">
						<div id="controls" class="controls"></div>
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>

					<div id="caption" class="caption-container">
						<div class="photo-index"></div>
					</div>
				</div>

				<!-- End Gallery Html Containers -->

				<div style="clear: both;"></div>