#{extends 'main.html' /} #{set title: 'Farleia Sjøhus' /}

<div class="span-24 clear" style="float: left;">
	<div class="span-6">
		<div class="contact">
			<h2>&{'contact.header'}</h2>
			<ul>
				<li><strong>&{'contact.section.header'}</strong></li>
				<li>&{'contact.section.address'}</li>	
				<li>&{'contact.section.country'}</li>
			</ul>
			<br/>
			<ul>
				<li>&{'contact.section.tlf'}: (+47) 979 67 100</li>
				<li>&{'contact.section.celluar'}: (+47) 979 67 100</li>
				<li>&{'contact.section.email'}: farleia.sjohus@mail.com</li>
			</ul>
		</div>
		</div>
	<div class="span-18 last">
		<iframe width="100%" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;ll=60.6826,5.033315&amp;spn=0.043846,0.081539&amp;msid=116247048889766659357.000495026fc996d6a981e&amp;output=embed"></iframe>
	</div>
</div>